apturl
bcrypt
beautifulsoup4
blinker
brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
entrypoints
fasteners
future
idna
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markupsafe
mock
monotonic
netifaces
oauthlib
olefile
opencv-python
paramiko
pbr
pexpect
pip-chill
protobuf
pycups
pyjwt
pymacaroons
pynacl
pyqt5
pyrfc3339
pysetwacom
python-apt
python-debian
pyxattr
pyxdg
pyyaml
qtpy
reportlab
requests
requests-unixsocket
simplejson
sip
system-service
systemd-python
tb-mqtt-client
thonny
torchvision
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
vboxapi
wxpython
xkit
youtube-dl
